<div class="mt-4">
    <form method="GET" action="">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Từ khóa</label>
        <input type="text" name="p" class="form-control" id="search-input" placeholder="Nhập từ khóa . . ." aria-describedby="emailHelp"> 
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>